/* 

COLORS

primary: #FFF9F1
secondary: #2A2619
accent: #706C61

BREAKPOINTS

420px for portrait phones.
576px for larger portrait phones.
768px for tablets.
992px for laptops.
1200px for large devices.

*/

/* HOME */

.section-home {
  padding-top: 2.5rem;
}

.home__text {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.home__text-small {
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding: 0 1rem 1.5rem 1rem;
}

.home__claim__wrapper {
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.hero-image {
  border-radius: 5px;
  width: 100%;
  height: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.a-way-wrapper {
  position: relative;
  width: 2.2rem;
}

.a-way {
  position: absolute;
  top: -0.5rem;
  right: 0.2rem;
}

.android-text {
  font-variation-settings: "wght" 400;
  font-size: 0.8rem;
  line-height: 1.1rem;
  padding: 1rem;
}

@media (min-width: 576px) {
  .section-home {
    padding-top: 3.5rem;
  }

  .home__text-small {
    font-size: 1.3rem;
    line-height: 2rem;
    padding: 0 2rem 1.5rem 2rem;
  }

  .home__claim__wrapper {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .home__text,
  .home__text-small,
  .home__claim__wrapper {
    font-variation-settings: "wght" 500;
  }

  .home__text-small {
    padding: 0 6rem 1.5rem 6rem;
  }

  .a-way-wrapper {
    width: 2.5rem;
  }

  .a-way {
    width: 37px;
    height: 37px;
    top: -1rem;
    right: 0;
  }
}

@media (min-width: 992px) {
  .hero-image {
    display: none;
  }

  .section-home {
    width: calc(100% - 10rem);
    height: calc(100vh - 3.5rem);
    background-image: url("../resources/images/hero-lg.jpg");
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 10rem;
    padding-left: 0;
    background-origin: content-box;
  }

  .section-home__wrapper {
    margin-right: -10rem;
    height: 100%;
    background: linear-gradient(
      88.43deg,
      rgba(217, 217, 217, 0) 44.97%,
      rgba(255, 249, 241, 0.89) 68.65%
    );
    padding-top: 2rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .home__text,
  .home__text-small,
  .home__claim__wrapper {
    font-variation-settings: "wght" 700;
    font-size: 1.5rem;
    color: #1f2220;
    width: 30%;
    text-align: right;
    padding: 1rem 0 1rem 0;
    justify-content: flex-end;
  }

  .home__claim__wrapper {
    padding-bottom: 4rem;
  }

  .android-text {
    padding-right: 0;
  }

  .a-way {
    width: 40px;
    height: 40px;
    top: -1rem;
    right: 0;
  }
}

/* HOW IT WORKS */

.section-works__row {
  display: flex;
  padding-bottom: 2rem;
  padding-top: 2rem;
  gap: 1.5rem;
}

.section-works__image {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 20px;
}

.section-works__text {
  width: 50%;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
}

@media (min-width: 576px) {
  .section-works__row {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .section-works__text {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

@media (min-width: 992px) {
  .section-works__row {
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-top: 0;
  }

  .section-works__image {
    width: 14.5rem;
    height: 14.5rem;
  }

  .section-works__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .section-works__wrapper > div:nth-child(2) {
    flex-direction: column-reverse;
  }

  .section-works__text {
    width: 80%;
    text-align: center;
  }
}

/* HOW IT HELPS */

.mockup-image {
  width: 14rem;
  height: auto;
  padding-bottom: 2rem;
}

.section-helps__text {
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.section-helps__list {
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
  list-style-type: none;
  padding-left: 1rem;
}

.section-helps__list > li {
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex;
}

.section-helps__list > li > div:nth-child(1) {
  padding-right: 1.5rem;
  padding-top: 0.5rem;
}

@media (min-width: 768px) {
  .mockup-image {
    width: 16rem;
    padding-bottom: 4rem;
  }

  .section-helps__text,
  .section-helps__list {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .helps__bulletpoint-oneliner {
    margin-top: -1rem;
  }
}

@media (min-width: 992px) {
  .mockup-image {
    width: 20rem;
    padding: 0;
  }

  .section-helps__wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 7rem;
  }
}

/* CTA */

.cta {
  background-color: #2a2619;
  margin-top: 2rem;
  margin-bottom: 3rem;
  position: relative;
  text-align: left;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.cta__image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 40%;
  height: auto;
}

.cta__title {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 61px;
  color: #fff9f1;
  padding-bottom: 0.8rem;
}

.cta__claim__wrapper {
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding-bottom: 2rem;
  display: flex;
  color: #fff9f1;
}

.cta__a-way-wrapper {
  position: relative;
  width: 2.5rem;
  text-align: center;
}

.cta__button {
  width: 10rem;
  height: auto;
}

@media (min-width: 768px) {
  .cta__image {
    width: 30%;
  }
}

@media (min-width: 992px) {
  .cta {
    margin-top: 6rem;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  .cta__title {
    font-size: 4.3rem;
    line-height: 7rem;
    padding-bottom: 1rem;
  }

  .cta__claim__wrapper {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 4rem;
  }

  .cta__a-way-wrapper {
    width: 3rem;
  }

  .cta__image {
    width: 20rem;
  }
}

/* FEATURES */

.section-features__image {
  padding-top: 0.5rem;
  padding-bottom: 3rem;
  width: 100%;
  height: auto;
}

.section-features__images-lg {
  display: none;
}

.section-features__images-lg img {
  width: 10rem;
  height: auto;
}

@media (min-width: 768px) {
  .section-features__image {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .section-features__wrapper {
    display: flex;
    gap: 2rem;
    padding-bottom: 6rem;
  }
  .section-features__image {
    display: none;
  }

  .section-features__images-lg {
    display: flex;
    gap: 1rem;
  }
}

/* FAQ */

.section-faq__text {
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.section-faq__question {
  font-style: normal;
  font-variation-settings: "wght" 700;
  padding-top: 1rem;
}

@media (min-width: 992px) {
  .section-faq__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .section-faq__wrapper > div {
    width: 40%;
  }

  .section-faq {
    padding-bottom: 6rem;
  }
}

/* DOWNLOAD */

.section-download__image {
  border-radius: 5px;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.section-download__text {
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding-bottom: 2rem;
}

.section-download__android-text {
  font-size: 0.8rem;
  line-height: 1.1rem;
  padding-top: 1rem;
}

.section-download__claim__wrapper {
  display: none;
}

@media (min-width: 576px) {
  .section-download__text {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

@media (min-width: 768px) {
  .section-download__text {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (min-width: 992px) {
  .section-download__image {
    display: none;
  }

  .section-download {
    width: calc(100% - 10rem);
    height: 90vh;
    background-image: url("../resources/images/mockup-phone-download-lg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
    background-position: right;
    padding-top: 0;
  }

  .section-download__wrapper {
    height: 100%;
    background: linear-gradient(
      89.61deg,
      rgba(255, 249, 241, 0.89) 44.17%,
      rgba(217, 217, 217, 0) 68.93%
    );
    padding-top: 1rem;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -5rem;
  }

  .section-download__text {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2rem;
    width: 35%;
    text-align: left;
    font-variation-settings: "wght" 700;
    font-size: 1.4rem;
  }

  .section-download__claim__wrapper {
    font-size: 1.3rem;
    line-height: 1.5rem;
    padding-bottom: 4rem;
    font-variation-settings: "wght" 700;
    display: flex;
    justify-content: left;
  }

  .section-download__text-second {
    display: none;
  }
}

/* FOOTER */

.section-footer {
  background-color: #2a2619;
  margin-top: 2rem;
  margin-bottom: 0;
  border-bottom: thick solid #2a2619;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  position: relative;
  text-align: left;
  color: #fff9f1;
}

.section-footer__image-overlay {
  position: relative;
  z-index: 2;
}

.section-footer__title {
  font-variation-settings: "wght" 600;
  font-size: 25px;
  line-height: 31px;
  padding-bottom: 2rem;
}

.section-footer__text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1rem;
}

.section-footer__text-wrapper > div:nth-child(2) {
  text-align: right;
}

.section-footer__text {
  list-style-type: none;
  padding-left: 0;
}

.section-footer__text > a {
  font-variation-settings: "wght" 600;
  font-size: 1.1rem;
  color: #fff9f1;
}

.section-footer__text > a > li {
  padding-bottom: 0.8rem;
}

.section-footer__button-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.section-footer__button-row > div:nth-child(1) {
  margin-left: -3px;
}

.section-footer__scroll-to-top {
  color: #fff9f1;
  padding-top: 1.5rem;
  font-size: 4rem;
  line-height: 2rem;
  margin-bottom: -0.8rem;
  margin-right: -0.8rem;
}

@media (min-width: 992px) {
  .section-footer {
    margin-top: 0;
  }

  .section-footer__text-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10rem;
  }

  .section-footer__scroll-to-top {
    position: relative;
    z-index: 2;
    margin-right: -2rem;
  }
}

/* COOKIES */

.section-cookies {
  padding-top: 2.5rem;
  text-align: left;
}

.cookies__heading {
  text-align: center;
  margin-bottom: 0;
}

.cookies__title {
  font-family: "Quicksand", sans-serif;
  font-variation-settings: "wght" 700;
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.cookies__text {
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.cookies__cookie-name {
  font-variation-settings: "wght" 700;
}

.cookies__list {
  text-align: left;
  line-height: 1.5rem;
  padding-bottom: 1rem;
  list-style-type: none;
  padding-left: 1rem;
}

.cookies__list > li {
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex;
}

.cookies__list > li > div:nth-child(1) {
  padding-right: 1.5rem;
  padding-top: 0.5rem;
}

.section-menu__cookies > a {
  display: flex;
  align-items: center;
  margin-right: -1rem;
  text-transform: uppercase;
  font-size: large;
  height: 100%;
}

.section-menu__cookies > a:active,
.section-menu__cookies > a:hover {
  color: #706c61;
}

.section-menu__cookies > a > div {
  display: none;
}

.nav-arrow {
  font-size: 2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@media (min-width: 576px) {
  .section-menu__cookies > a > div {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .section-cookies {
    padding: 3.5rem 20rem;
  }
}

/* 404 */

.notfound404__text {
  height: calc(100vh - 23rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notfound404__text > h1 {
  font-size: 2rem;
  line-height: 6rem;
}

.notfound404__text > div {
  font-variation-settings: "wght" 500;
  line-height: 1.5rem;
}
